:root {
    --dark-green: #18534F;
    --green: #226D68;
    --white: #ECF8F6;
    --yellow: #FEEAA1;
    --orange: #D6955B;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Exo 2", serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-green);
}

body {
    background: linear-gradient(to top, var(--yellow), var(--white)) no-repeat fixed;
    height: 100dvh;
}

header {
    width: 1250px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 25px auto;

    padding: 25px;
}

header .header-left *,
header .header-right * {
    color: var(--dark-green);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    transition: transform 0.3s ease;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    margin: 80px auto;
    width: 1250px;
}

header,
.artist,
.artists li,
.create-artist,
.edit-artist,
.events,
.success,
.create-event,
.edit-event,
.followed-event li,
.events-list li,
.event,
.users,
.register,
.login,
.artists-general-list li {
    background: rgba(24, 83, 79, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.artists li,
.artist,
.followed-event li,
.events-list li,
.event,
.users,
.artists-general-list li {
    border-radius: 10px;

    margin: 15px auto;
    padding: 15px;

    display: flex;
    flex-direction: row;
    align-items: start;

    transition: transform 0.3s ease;
}

.followed-event li,
.events-list li,
.event,
.users {
    flex-direction: column;
}

nav ul li:hover,
.artists li:hover,
.artist:hover,
.create-artist-submit:hover,
.edit-artist-submit:hover,
.create-event-submit:hover,
.edit-event-submit:hover,
.delete-event:hover,
.followed-event li:hover,
.events-list li:hover,
.event:hover,
.users:hover,
.register-form-submit:hover,
.login-form-submit:hover,
.name-search-form-submit:hover,
.date-search-form-submit:hover {
    transform: translateY(-5px);
}

.artists div *,
.artist div * {
    margin: 10px;
}

.artists h2,
.artist h1,
.followed-event li h3,
.event h1{
    color: var(--green);
    margin-bottom: 10px;
}

.artists a,
.artist a,
.success a,
.followed-event a,
.events-list a,
.event a{
    text-decoration: none;
    color: var(--green);
    font-weight: 300;
}

.followed-event .event-title,
.events-list .event-title {
    font-weight: bold;
}

.create-artist,
.edit-artist,
.create-event,
.edit-event,
.register,
.login-form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-artist h1,
.edit-artist h1,
.create-event h1,
.edit-event h1,
.register h1,
.login h1 {
    margin: 15px;
}

.create-artist-form,
.edit-artist-form,
.create-event-form,
.edit-event-form,
.register-form,
.login-form,
.name-search-form,
.date-search-form {
    margin-bottom: 25px;
    padding: 10px;

    width: 100%;

    border: 0;
    border-radius: 10px;
}

.create-artist-form::placeholder,
.edit-artist-form::placeholder,
.create-event-form::placeholder,
.edit-event-form::placeholder,
.register-form::placeholder,
.login-form::placeholder {
    font-weight: 300;
    color: var(--green);
}

.create-artist-form,
.edit-artist-form,
.create-event-form,
.edit-event-form,
.delete-event,
.register-form,
.login-form,
.name-search-form,
.date-search-form {
    transition: transform 0.3s ease;
}

.create-artist-submit:hover,
.edit-artist-submit:hover,
.create-event-submit:hover,
.edit-event-submit:hover,
.delete-event:hover,
.register-form-submit:hover,
.login-form-submit:hover,
.name-search-form-submit,
.date-search-form-submit {
    color: white;
    background-color: var(--green);
}

.edit-event a,
.register a,
.login a {
    text-decoration: none;
    color: var(--green);
}

.delete-event {
    padding: 10px;
    border: 0;
    border-radius: 10px;

    color: red;
}

.events,
.success,
.users {
    padding: 10px;
}

.events h2,
.success h1,
.users h2{
    color: var(--green);
}

.events ul,
.users ul {
    margin-top: 10px;
    list-style: none;
}

.events ul li a,
.users ul li a {
    color: black;
    text-decoration: none;
}

.followed-event-h1,
.events-list h3{
    color: var(--green);
    margin-bottom: 10px;
    width: 100%;
}

.register,
.login {
    text-align: center;
}

.login-form {
    width: auto;
    margin-bottom: 0;
}

.login-form-email,
.login-form-password {
    margin-bottom: 25px;
}

.name-search-form-name,
.date-search-form-date {
    margin-top: 10px;
}

.name-search-form-name {
    padding-left: 10px;
}

form input {
    box-sizing: border-box;
}