{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>Oops ! Cette page n'existe pas.</h1>
    <a href="{{ path('app_home') }}" class="error">Retour à l'accueil</a>
{% endblock %}

